language: android
jdk:
  - oraclejdk7
sudo: false
android:
  components:
    - build-tools-22.0.0
    - android-22
    - extra-android-m2repository
    - extra-android-support
    - sys-img-armeabi-v7a-android-19
before_install:
    # Gradle
    - wget -q http://services.gradle.org/distributions/gradle-2.10-all.zip
    - unzip -q gradle-2.10-all.zip
    - export GRADLE_HOME=$PWD/gradle-2.10
    - export PATH=$GRADLE_HOME/bin:$PATH
    # Get Android NDK
    - wget  -q http://dl.google.com/android/repository/android-ndk-r11c-linux-x86_64.zip
    - unzip -q android-ndk-r11c-linux-x86_64.zip
    - export ANDROID_NDK_HOME=$PWD/android-ndk-r11c-linux-x86_64
    - export PATH=$ANDROID_NDK_HOME:$PATH
    - chmod a+x $ANDROID_NDK_HOME/ndk-build.bin
# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &