language: android
jdk:
  - oraclejdk7
sudo: true
android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-26
    - extra-android-m2repository
    - extra-android-support
    - sys-img-armeabi-v7a-android-26
before_install:
    # Gradle
    - wget -q http://services.gradle.org/distributions/gradle-3.3-all.zip
    - unzip -q gradle-3.3-all.zip
    - export GRADLE_HOME=$PWD/gradle-3.3
    - export PATH=$GRADLE_HOME/bin:$PATH
    # Get Android NDK
    - git clone https://github.com/urho3d/android-ndk.git $HOME/android-ndk-root
    - export ANDROID_NDK_HOME=$HOME/android-ndk-root
#    - wget  -q http://dl.google.com/android/repository/android-ndk-r11c-linux-x86_64.zip
#    - unzip -q android-ndk-r11c-linux-x86_64.zip
#    - export ANDROID_NDK_HOME=$PWD/android-ndk-r11c-linux-x86_64
#    - export PATH=$ANDROID_NDK_HOME:$PATH
# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-26 --abi armeabi-v7a
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &